<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
    <link rel="stylesheet" href="/css/style.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
  </head>
<body>
   <%- include('../partials/_navbar.ejs')%>
   <h1><%= category  %> Menu</h1>
     <ul>
      <% foods.forEach((food) => { %>
      <li>
        <a href="/food/<%= food._id %>">
        <%= food.dishName %> 
    </li>
      <% }) %>
    </ul>
    <% if (user) { %>
        <a href="/food/new" class="add-dish">➕ Add your Dish</a>
   <%  } %>
    
</body>
</html>